langchain_openai 
langchain_core
python-dotenv
streamlit
langchain_community
langserve
fastapi
uvicorn
sse_starlette
youtube-transcript-api
pytube
sentence-transformers
faiss-cpu
langchain_groq